/* cart button */

.btn {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  cursor: pointer;
  font-size: 40px;
}

.btn-cart {
  border-radius: 4px;
  padding: 16px 32px;
  color: white;
  background-color: rgb(0, 0, 255);
}

.btn-cart:hover {
  background-color: rgb(0, 0, 200);
}

.cart-counter {
  font-size: 40px;
  background-color: rgb(128, 128, 128, 0.2);
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px 32px;
}

.cart-counter-btn {
  background: none;
}

/* like button */

.like-counter {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128, 0.7);
}

.btn-like {
  background: none;
  padding: 16px 32px;
  border-right: 1px solid rgb(128, 128, 128, 0.7);
}

.like-count {
  margin: 0;
  padding: 16px 32px;
}

.like-counter:hover {
  background-color: rgb(128, 128, 128, 0.2);
}

/* media player button */

.btn-player {
  padding: 16px 32px;
  background-color: black;
  color: white;
  border-radius: 40px;
}
