/* cart button */

.btn {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  cursor: pointer;
  font-size: 40px;
}

.btn-cart {
  border-radius: 8px;
  padding: 16px 32px;
  color: white;
  background-color: rgb(27, 148, 244);
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-cart:hover {
  background-color: rgb(19, 121, 202);
}

.cart-counter {
  font-size: 40px;
  background-color: rgb(128, 128, 128, 0.2);
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px 32px;
}

.cart-counter-btn {
  background: none;
  display: flex;
  align-items: center;
}

/* like button */

.btn-like {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128, 0.7);
}

.btn-like:hover {
  background-color: rgb(128, 128, 128, 0.3);
}

.like-text {
  background: none;
  padding: 16px 32px;
  border-right: 1px solid rgb(128, 128, 128, 0.7);
  display: flex;
  align-items: center;
  gap: 16px;
}

.like-count {
  padding: 16px 32px;
}

/* media player button */

.btn-player {
  padding: 16px 32px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player-duration {
  color: rgb(150, 150, 150);
}
